@page
@model Blogs.AdminSite.Pages.Users.IndexModel
@{
    ViewData["Title"] = "用户管理";
    Layout = "_Layout";
}

<!-- 主容器 -->
<div id="userManagement"></div>

<!-- 初始化脚本 -->
<script>
    $(function(){
        layui.config({
            base: '/js/modules/'
        }).use(['appuser'], function() {
            var appuser = layui.appuser;
            if (appuser && typeof appuser.init === 'function') {
                appuser.init();
            } else {
                console.error('appuser 模块加载失败');
            }
        });
    });
</script>